.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 200vw;
}
.contact-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  gap: 3vh;
  padding: 2vw;
  position: relative;
}
.circle-contact {
  position: absolute;
  transition: 1s background-color linear;
  border-radius: 50%;
  z-index: -1;
}
.blue {
  background-color: rgba(129, 199, 222, 0.45);
  left: 30vw;
  height: 50vh;
  width: 50vh;
}
.blue:hover {
  background-color: rgba(0, 128, 0, 0.5);
}
.pink {
  background-color: rgba(222, 129, 213, 0.45);
  left: -10vw;
  bottom: 0;
  height: 40vh;
  width: 40vh;
}
.pink:hover {
  background-color: rgba(128, 0, 119, 0.5);
}
.yellow {
  background-color: rgba(255, 255, 0, 0.45);
  left: 0vw;
  top: 0;
  height: 60vh;
  width: 60vh;
  z-index: -2;
}
form:hover .yellow {
  background-color: rgba(0, 255, 229, 0.5);
}
.form-wrapper {
  width: 100vw;
  margin-bottom: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  color: black;
}
.label-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  width: 30vw;
}
.send-email {
  background: none;
  color: black;
  border: none;
  font-size: 3rem;
  transition: transform 0.25s ease;
}
input {
  min-width: 350px;
  width: 30vw;
  height: 2rem;
  font-size: 1.5rem;
  background-color: rgba(245, 222, 179, 0);
  border: none;
  border-bottom: solid 2px black;
  border-radius: 2px;
}
textarea {
  font-size: 1.5rem;
  min-width: 350px;
  width: 30vw;
  height: 20.5rem;
  resize: vertical;
  min-height: 2rem;
  max-height: 20rem;
  background-color: transparent;
  border: solid 2px black;
  border-radius: 5px;
}
label {
  font-size: 1.5rem;
}
.in-touch-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s ease;
}
.contact-outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  width: 100vw;
  z-index: 1;
}
.hidden {
  transform: translateX(100vw);
}
.show {
  transform: translateX(-100vw);
}
.larger-text {
  font-size: 4rem;
}
.large-text {
  font-size: 2.5rem;
}
.contact-slide {
  cursor: pointer;
}
.chevron {
  height: 15rem;
  transition: transform 1s ease;
}
.contact-slide:hover .chevron {
  transform: translateX(10vw);
}
.contact-slide:hover .in-touch-wrapper {
  transform: scale(103%);
}
.justify-center-div:hover .send-email {
  transform: scale(108%);
  cursor: pointer;
}
.justify-center-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  margin-left: 7.5vw;
}
.mail {
  transition: transform 1s ease-in-out;
  height: 4rem;
}
.justify-center-div:hover .mail {
  transform: translateX(9vw);
}
@media (max-width: 900px) {
}
